.breadcrumb {
  background-color: #132b73;
  padding: 8px;
  color: #09e3d1;
}

.breadcrumb a {
  color: white;
}

body {
  font-size: 1.125rem;
}

body a {
  text-decoration: none;
  color: #000000;
}

body ul {
  list-style-type: none;
}

